--add-opens javafx.controls/javafx.scene.control.skin=ALL-UNNAMED
--add-opens javafx.fxml/com.sun.javafx.fxml.builder=ALL-UNNAMED
--add-opens javafx.graphics/javafx.scene.text=ALL-UNNAMED
--add-opens javafx.graphics/com.sun.javafx.scene.text=ALL-UNNAMED
--add-opens javafx.graphics/com.sun.javafx.text=ALL-UNNAMED
--add-opens javafx.graphics/com.sun.javafx.geom=ALL-UNNAMED
--add-opens javafx.graphics/com.sun.javafx.scene=ALL-UNNAMED
--add-opens javafx.base/com.sun.javafx.runtime=ALL-UNNAMED
--add-opens javafx.base/com.sun.javafx.event=ALL-UNNAMED
--add-opens javafx.graphics/com.sun.javafx.scene.traversal=ALL-UNNAMED
