/*
 * BSD-style license; for more info see http://pmd.sourceforge.net/license.html
 */

@import "constants";

/*
  Custom flat theme for some controls, eg those that go into toolbars.
  Included by default in ToolbarTitledPane.
 */

// this is the default
.flat(@selection-focus-color, white);
.flat-toggle(derive(@fx-base, -5%), -fx-outer-border, @selection-color: @selection-focus-color);

@dark-selection: derive(@selection-focus-color, -40%);

// change the focus color when the background is already the default focus color
.list-cell:filled:selected {
  .flat(whitesmoke, @selection-fill: @dark-selection);
  .flat-toggle(white, @selection-focus-color, @selection-color: @selection-focus-color);
}

.list-view:focused .list-cell:selected:filled {
  .flat(whitesmoke, @selection-fill: @fx-text-fill);
  .flat-toggle(white, gray, whitesmoke);
}

.property-collection-view {
  .footer {
    -fx-background-color: @darker-accent;
    -fx-font-size: 13;
  }
}

.flat(@selection-color, @selection-fill) {

  .button, .choice-box, .toggle-button {
    -fx-background-color: transparent;

    -fx-content-display: CENTER;
    -fx-border-width: 1;
    -fx-border-color: @darker-accent-border;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 3;

    -fx-padding: 3;

    &.choice-box {

      &:hover > .label {
        -fx-fill: @selection-fill;
        -fx-text-fill: @selection-fill;
      }
      .label {
        -fx-padding: 1;
      }
      .open-button {
        -fx-padding: 0 0 0 2;
      }
    }

    &:hover {
      -fx-background-color: @selection-color;
      -fx-fill: @selection-fill;
      -fx-text-fill: @selection-fill;
    }

    &.icon-button {
      -fx-border-width: 0;
      -fx-border-color: transparent;
    }
  }

  & > .label {
    -fx-background-color: transparent;
    -fx-font-size: @smaller-font-size;

    // This is the title label of the pane
    &.title-label {
      -fx-padding: 0 0 0 6;
      -fx-font-size: 10pt;
    }

    &.error-label {
      .ikonli-font-icon {
        -fx-fill: @error-color;
      }
      -fx-border-color: @error-color;
      -fx-border-width: 1;
      -fx-padding: 3;
      -fx-border-radius: 4;
    }
  }

  .separator {
    //-fx-background-color: transparent;

    -fx-padding: 4 2 4 2;

    .line {
      -fx-border-style: none solid none none;
      -fx-border-width: 0.5px;
      -fx-fill: @fx-text-fill;
      -fx-border-color: @fx-text-fill;
    }
  }

  .menu-bar {
    -fx-background-color: transparent;
  }


  // This is used for buttons that have just an icon and no text
  .icon-button {

    -fx-background-color: transparent;

    -fx-content-display: CENTER;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    .force-square(24);

    &, * {
      -fx-graphic-text-gap: 0;
    }

    &.menu-button .ikonli-font-icon {
      // Fixes a bug where the cog icon is misplaced to the right
      // Probably needs to be synced with icon size
      -fx-translate-x: -4;
    }

    &:hover .ikonli-font-icon, &:hover .svg-icon {
      -fx-fill: @selection-fill;
    }

    .ikonli-font-icon, .svg-icon {
      -fx-fill: @fx-text-fill;
    }

    &.menu-button:showing, &:hover {
      -fx-background-color: @selection-color;
    }

    & > .label {
      -fx-background-color: transparent;
    }
  }
}

.flat-toggle(@fxcolor, @darker, @selection-color) {
  .toggle-button:selected {

    &, &:focused {

      @grad: linear-gradient(to bottom, derive(@fxcolor, -30%) 0%, derive(@fxcolor, -18%) 20%, derive(@fxcolor, -16%) 50%);

      -fx-background-color: -fx-shadow-highlight-color, linear-gradient(to bottom, derive(@darker, -20%), @darker), @grad;

      -fx-background-insets: 0 0 -1 0, 0, 1;
    }

    &:hover {
      -fx-hover-base: @selection-color !important;
    }
  }
}
