/**
 * BSD-style license; for more info see http://pmd.sourceforge.net/license.html
 */

@import "constants";

.popover {

  .title {
    -fx-background-color: @darker-accent;

    .text {
      -fx-fill: black;
      -fx-font-weight: normal;
    }
  }

  .list-view {
    .list-cell:empty {
      -fx-opacity: 0;
    }
  }
}
